<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Usuario</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <!-- Icono Pestaña -->
    <link rel="shortcut icon" href="https://img.icons8.com/color/480/mongodb.png" />


</head>

<body style="background-color: #7cce3c;">

    <nav class="navbar navbar-light bg" style="background-color: #26262e;">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="https://s3-us-west-2.amazonaws.com/devcodepro/media/tutorials/instalacion-de-nodejs-en-ubuntu-t1.jpg" alt="" width="100" height="50">
            </a>
            <a style="color:white" href="">
                <i class="fab fa-github fa-2x"></i>
            </a>
        </div>
    </nav>
    <br><br><br><br>
    <div class="container">
        
        <div style ="padding:10px">
          <a type="button" class="btn btn-warning" href='/'>Volver</a>
          <a type="button" class="btn btn-primary" href='/res/user/create'>Agregar Usuario</a>
         
        </div>

        <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Direccion</th>
                <th scope="col">Edad</th>
                <th scope="col" style="text-align: center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              - var cont = 1;
              each data in body
                <tr>
                    <th scope="row" style ="padding:10px">#{cont++}</th>
                    <td>#{data.nombre}</td>
                    <td>#{data.apellido}</td>
                    <td>#{data.direccion}</td>
                    <td>#{data.edad}</td>
                    <td style="text-align: center;">
                    <a type="button" class="btn btn-secondary" href='/res/user/update/#{data._id}'> Editar <i class="far fa-edit"></i></a>
                    form(id="form-agregar-producto" action= `/res/user/${data._id}`  method="post" style="display: inline-block;margin-left:10px")
                       <button type="submit" class="btn btn-danger" >Eliminar <i class="fas fa-times"></i></button>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>
    <br><br>
</body>

</html>


